
<div class="page-background">
  <div class="sign-up-card">

    <div class="card-header">
      <div class="header-content">
        <h1>Sign Up</h1>
        <p>Create Your Account</p>
        <div class="blue-line"></div>
      </div>
       <div class="header-image">
        </div>
    </div>

    <div class="signup-form">

      <div class="input-group">
        <span class="icon text-blue">👤</span>
        <input type="text" placeholder="Full Name">
      </div>

      <div class="input-group">
        <span class="icon text-blue">✉️</span>
        <input type="email"    [(ngModel)]="email"    placeholder="Email"    />
      </div>

      <div class="input-group">
        <span class="icon text-blue">📞</span>
        <input type="tel" placeholder="Phone Number">
      </div>

      <div class="input-group">
        <span class="icon text-blue">🔒</span>
       <input type="password" [(ngModel)]="password" placeholder="Password"         />

      </div>

      <div class="input-group">
        <span class="icon text-blue">🔒</span>
        <input type="password" [(ngModel)]="confirm"  placeholder="Confirm Password" />

      </div>

      <div class="terms-group">
        <input type="checkbox" id="terms" checked>
        <label for="terms">I agree to the <a href="#">Terms & Privacy Policy</a></label>
      </div>

      <!-- ✅ شيل routerLink عشان الـ AuthService هيعمل navigate تلقائياً -->
      <button class="create-account-btn" (click)="signup()" [disabled]="loading">
          {{ loading ? 'Creating account...' : 'Sign Up' }}
        </button>

      <div class="divider">
        <span>Or Sign Up With</span>
      </div>

      <div class="social-buttons">
        <button type="button" class="social-btn">
          <img src="../../assets/google-icon.jpeg" alt="G" class="social-icon"> Google
        </button>
        <button type="button" class="social-btn">
          <img src="../../assets/facebook-icon.jpeg" alt="F" class="social-icon"> Facebook
        </button>
      </div>

      <p class="footer-text">
        Already have an account? <a routerLink="/sign-in">Sign In</a>
      </p>

    </div>
  </div>
</div>
